php_value magic_quotes_gpc 0

Options +FollowSymlinks

RewriteEngine on

# any request that doesn't match an existing file or directory will be caught.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
